* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    padding: 8px;
    background-color: gainsboro;
    text-align: right;
}

.lang_link {
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    color: black;
    margin-left: 15px;
    padding: 4px;
}

.lang_link:nth-child(2)  {
    margin-right: 15px;
}

.hovedindhold {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Lucida Console", Monaco, monospace;
}

.rammesektion {
    margin-top: 25px;
    width: 45%;
    display: inline-block;
}

.rammeindhold {
    display: flex;
    width: 90%;
    justify-content:space-between;
}

.rammetekst {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
    width:100px;
    color: white;
    font-weight:bold;
    background-color:steelblue;
    text-align: center;
    line-height: 2;
    height: 25px;
}

.ramme {
    margin-top: 5px;
    width: 90%;
    height: 300px;
}

.resultatramme {
    margin-top: 5px;
    width: 90%;
    height: 100px;
}

.resultatrammesektion {
    margin-top: 15px;
    width: 80%;
}

.knap {
    height: 25px;
}

.execJs {
    background-color: green;
    color: white;
    border: darkgreen solid 1px;
    cursor: pointer;
}


.redigeringsramme {
    padding: 5px 0px 5px 5px;
    resize: none;
    height: 292px;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size: 4;
}


